<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetaExplorerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logfile.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="Steevie1" value="7" />
    <add key="Steevie2" value="abc.txt" />
    <add key="CriterionConfig" value="
[
  {
    'Name': 'Stars',
    'IndexInFilename': 2,
    'Mandatory': 1
  },
  {
    'Name': 'Actor',
    'IndexInFilename': 1,
    'Mandatory': 1
  },
  {
    'Name': 'Studio',
    'IndexInFilename': 0,
    'Mandatory': 1
  },
  {
    'Name': 'Keywords',
    'IndexInFilename': 3,
    'Mandatory': 0
  },
]"/>
  </appSettings>
  
    <applicationSettings>
        <MetaExplorerGUI.Properties.Settings>
            <setting name="VideoFilesBasePath" serializeAs="String">
                <value>Q:\movs</value>
            </setting>
            <setting name="VLCLocation" serializeAs="String">
                <value>Q:\portableApps\VLCPortable\VLCPortable.exe</value>
            </setting>
	    <setting name="FFmpegLocation" serializeAs="String">
                <value>Q:\portableApps\FFmpeg\ffmpeg.exe</value>
            </setting>
        </MetaExplorerGUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
